<div class="ftr-bg">
	<div class="wrap">
		<div class="copy">
			<p class="w3-link">Copyright &copy; 2014.junkezhang.com All rights reserved.</p>
		</div>
	</div>
</div>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253219200'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D1253219200%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
