{% extends "base.html" %}

{% block title %}开心生活每一天 -- junekzhang{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="main">
            <div class="about-data">
                        <h2>About Me</h2>
                        <div class="about-img">
                            <a href="\about"><img src="/static/images/myphoto.jpg" alt=""></a>
                        </div>
                        <div class="about-desc">
                            <h4>张俊克</h4>
                            <p>普通后端程序员一枚。会用.net，略通python。 </p>
                        </div>
                        <div class="clear"></div>
                            <p>正在努力提高中。</p>								
            </div>
        </div>
    </div>
 {% endblock %}

