{% extends "base.html" %}

{% block title %}开心生活每一天 -- junekzhang{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="main">
            <div class="section group">
             <div class="grid_1_of_3 images_1_of_3">
                <div class="blogs">
                    <h3>简介</h3>
                    <div class="blog_post">
                    <p><span>开心生活每一天。</span></p>
                    <p>80后的一员，过着普通平淡的生活。</p>
                    </div>	
                </div>
            </div>
             <div class="grid_1_of_3 images_1_of_3">
                <div class="blogs">
                    <h3>我的博客</h3>
                    <div class="blog_post">
                        <div class="blog_desc">
                                <div class="blog_heading">
                                    <p>
                                    <a target="_blank" href="http://www.junkezhang.com">
                                        <span>个人站点终于架起来了</span></a></p>
                                    <p class="date">2014年09月08日</p>
                                 </div>	
                                 <p>通过若干天的奋斗，个人站点终于架起来了。<br/>站点部署在阿里云上，租的ubuntu 64位服务器，web服务器用的apache，编程语言用的python，使用了django框架。</p>
                        </div>
                        <div class="clear"></div>	
                    </div>	
                </div>
            </div>
             <div class="grid_1_of_3 images_1_of_3">
                <div class="blogs">
                    <h3>我的常用链接</h3>
                    <div class="blog_heading">
                        <p><a target="_blank" href="http://douban.fm/">豆瓣</a></p>	
                        <p><a target="_blank" href="http://console.aliyun.com/ecs/index.htm#/">阿里云控制台</a></p>	
                        <p><a target="_blank" href="http://www.cnblogs.com/">博客园</a></p>	
                        <p><a target="_blank" href="http://www.163.com/">网易</a></p>	
                    </div>	
                </div>
            </div>
            <div class="clear"></div>	
            </div>
        </div>
    </div>
</div>
{% endblock %}

