<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <title>开心生活每一天 -- junekzhang</title>
    <meta name="description" content="junkezhang coderwood" />
    <!-- <link href="base.css" rel="stylesheet" type="text/css" media="screen" />  -->
    <style id="headStyleId" type="text/css" media="all">
        body {
            margin:0;
            padding:0;
            background:#092e20;
            color:white;
        }
    </style>
</head>
<body id="homepage" class="default">

</body>
</html>

